OPENAI_API_KEY=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=
LANGFUSE_HOST=
QDRANT_URL=http://qdrant-vdb:6334
DOCKER_REGISTRY=<YOUR-AWS-ACCOUNT-NUMBER>.dkr.ecr.eu-west-2.amazonaws.com
STAGE=prod
DOCUMENTS_PATH=./pdf/
