openai>=1.7.1
pandas
pydantic
pydantic_core
tqdm>=4.66.1
typing_extensions>=4.9.0
langchain
langchain-cli[serve]
langchain-text-splitters
langchain-anthropic
langchain-openai
langchain-community
langchain-core
qdrant-client
tiktoken
pinecone-client[grpc]
PyMuPDF
nltk
langserve[all]
unstructured[pdf]>=0.14.7
onnx>=1.16.1
langfuse
ragas>=0.1.16
uvicorn[standard]>=0.23.2
